@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';

.game_card, .game_card2 {
    position: absolute;
    top: 50%;
    left: 150px;
    width: 201.6px;
    height: 328.6px;
    float: left;
    margin: -150px;
    perspective: 500px;
}

.section_game{
    height: 100vh;
}

.game_card{
    z-index: 999;
}

.content, .content2 {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    transition: transform 1s;
    transform-style: preserve-3d;
}

.game_card:hover .content {
    transform:translateX(51em) translateY(-13em) rotateY( 180deg );
    transition: transform 0.8s;
}

.front, .back , .front2, .back2 {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("../images/games/card_back.png");
    line-height: 300px;
    color: white;
    text-align: center;
    font-size: 60px;
    border-radius: 5px;
    backface-visibility: hidden;
}

.back, .back2 {
    background : #434343;
    color: white;
    transform: rotateY( 180deg );
}
.game_card2 {
    z-index: -1;
}

.top-left {
    position: absolute;
    top : 10px;
    left : 10px;
    width: 10%;
    height: 10%;
}

.top-right {
    position: absolute;
    top : 10px;
    right: 10px;
    width: 10%;
    height: 10%;
}

.bottom-right {
    position: absolute;
    bottom : 10px;
    right: 10px;
    width: 10%;
    height: 10%;
}

.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 10%;
    height: 10%;
}

.player_score h6{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.center_button{
    position: absolute;
    top: 5px;
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    left : 0;
    right: 0;
}

.response-tab{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left : 0;
    right: 0;
    bottom: 2px;
    width: 15%;
}

.response-tab tr, .response-tab td{
    border : none !important;
}

.responses{
    width: 15em;
    height: 6em;
}